.container
{
   Background-color:;
    height:600px;
    float:none;
    margin: 0 auto;
    width:700px}
    
header
{
     background-color:Blue;
    height:50px;
    width:700px;
    color:White;
    text-align:center;}
.nav
{
  height:40px;  
  width:700px;
  background-color:Green;
  margin-top:-20px;
    }
.nav ul 
{
  
	list-style:none;
	text-align:center; }
.nav ul li {
	padding:0px 10px 0px 10px;
	display:inline;
}
a:link {color:#FFFFFF;
        text-decoration:underline;}
a:visited {color:#FFFF00;
           text-decoration:none;} 
a:hover {color:#0000FF;
         text-decoration:underline;}
a:active {color:#00FF00;
          text-decoration:underline;}  
          
  
.article
{
    background-color:pink;
    text-align:center;
    color:White;
    width:466px;
    height:270px;}
 article
{
    margin-bottom:10px;}
section
{
   background-color:Red;
    height:90px;
    margin-bottom:20px; }
aside
{
    background-color: Aqua;
    text-align:center;
    color:White;
    height:270px;
    width:234px;
    position:relative;
    left:466px;
    bottom:270px;}
footer
{
   background-color:green;
    height:30px;
    width:700px;
    color:White;
    text-align:center;
    position:relative;
    bottom:270px;}
